<ion-header>
  <ion-toolbar>
    <ion-title>Educación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="educacion-card">
    <ion-card-header class="educacion-header">
      <ion-img class="institucion-logo" src="assets/imgs/EPN.png"></ion-img>
      <ion-card-title>Desarrollo de Software - Escuela Politecnica Nacional</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>2021 - Presente</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="educacion-card">
    <ion-card-header class="educacion-header">
      <ion-img class="institucion-logo" src="assets/imgs/CH.png"></ion-img>
      <ion-card-title>Bachiller en Ciencias - Colegio Jose Ricardo Chiriboga</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>2017 - 2020</p>
    </ion-card-content>
  </ion-card>
</ion-content>
