<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="informacion">
      <ion-label>Información</ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="experiencia">
      <ion-label>Experiencia</ion-label>
      <ion-icon name="briefcase"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="educacion">
      <ion-label>Educación</ion-label>
      <ion-icon name="school"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
