<ion-header>
  <ion-toolbar>
    <ion-title>Experiencia Laboral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lugares de Trabajo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Maestro Programacion - Progracademy</h2>
            <p>Abril 2024 - Actualidad</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Asistente de Programacion - CONADIS</h2>
            <p>Octubre 2024 - Presente</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Proyectos Individuales y en Equipo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <a href="https://github.com/bryandelgado99/Funly--Entretenimiento-y-diversion" target="_blank">
              <img src="assets/imgs/funly.png" class="galeria-img" alt="Pagina Funly">
            </a>
          </ion-col>
          <ion-col size="6">
            <a href="https://github.com/ErickVillarroel1722/Veterinaria-Fullstack" target="_blank">
              <img src="assets/imgs/veterinaria.png" class="galeria-img" alt="Proyecto 2">
            </a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <a href="https://github.com/ErickVillarroel1722/Metro-app" target="_blank">
              <img src="assets/imgs/metro.png" class="galeria-img" alt="Proyecto 3">
            </a>
          </ion-col>
          <ion-col size="6">
            <a href="https://github.com/Mino-Mateo/Proyecto_Final_POO" target="_blank">
              <img src="assets/imgs/farmacia.png" class="galeria-img" alt="Proyecto 4">
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
