<ion-header>
  <ion-toolbar>
    <ion-title>Información Personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Erick Alexander Villarroel Sanchez</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Correo electrónico: erickvillarroel0022(a)gmail.com </p>
      <p>Teléfono: 0998225869</p>
      <p>Dirección: Juan Barrera y Emilio Burgueño Sector 3.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contactos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="primary" href="https://github.com/ErickVillarroel1722" target="_blank">
        GitHub
      </ion-button>
      <ion-button expand="block" color="primary" href="https://www.linkedin.com/in/erick-villarroel-87b176217/" target="_blank">
        LinkedIn
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
